<template name="input_questions">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Questions List</h4>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<th width="10%">No.</th>
							<th width="50%">Question</th>
							<th width="10%">Answer</th>
							<th width="30%">Date</th>
						</thead>
						<tbody>
							{{#each questions}}
								<tr>
									<td>{{index}}</td>
									<td>{{question}}</td>
									{{#if editing}}
										<td>
										<input type="text" id="edit_answer" class="form-control pull-right" value="{{answer}}"/>
										</td>
									{{else}}
										<td class="answer">{{answer}}</td>
									{{/if}}
									<td>{{time}}</td>
									<td><button type="button" class="close delete_item" id="{{_id}}">x</button></td>
								</tr>
							{{/each}}
							{{#if adding}}
								<tr>
									<td></td>
									<td>
										<input type="text" id="add_question" class="form-control pull-right"/>
									</td>
									<td></td>
									<td>
										<div class="input-group" id="datetimepicker">
					    					<input class="set-due-date form-control" type="text" id="time"/>
					     					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
									</td>
								</tr>
								<tr>
									<td colspan="5">
										<div class="pull-right">
											<button class="btn btn-primary" id="btn-save">Save</button>
											<button class="btn btn-danger" id="btn-cancel">Cancel</button>
										</div>
									</td>
								</tr>
							{{/if}}
						</tbody>
					</table>
					<div class="btn btn-inverse" id="btn-add">&plus;</div>
					<!-- <div>{{moment()}}</div> -->
				</div>
			</div>
		</div>
	</div>
</template>
