<template name="input_matches">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Matches List</h4>					
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<th>No.</th>
							<th>Team 1</th>
							<th>Team 2</th>
							<th>Score</th>
							<th>Time</th>					
						</thead>
						<tbody>
							{{#each matches}}
								<tr>
									<td>{{no}}</td>
									<td>{{team1}}</td>
									<td>{{team2}}</td>
									<td>{{score}}</td>
									<td>{{time}}</td>
								</tr>
							{{/each}}
							{{#if adding}}
								<tr>
									<td>{{matches.length}}</td>
									<td><input type="text" value="" id="add-team1" class="form-control form-element"/></td>
									<td><input type="text" value="" class="form-control form-element"/></td>
									<td><input type="text" value="" class="form-control form-element"/></td>
									<td><input type="text" value="" class="form-control form-element"/></td>
								</tr>
								<tr>
									<td colspan="5">
										<div class="pull-right">
											<button class="btn btn-primary" id="btn-save">Save</button>
											<button class="btn btn-danger" id="btn-cancel">Cancel</button>
										</div>
									</td>
								</tr>
							{{/if}}
						</tbody>
					</table>
					<div class="btn btn-inverse" id="btn-add">&plus;</div>					
				</div>
			</div>			
		</div>
	</div>
</template>
