<template name="rules">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Rules</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<h4>1. Register</h4>
						<ul>
							<li><h5>You can register with your @jonckers.com email only.</h5></li>
						</ul>
						<h4>2. Your bets</h4>
						<ul>
							<li><h5>You can bet on any opened games up to the time that is defined by the administrator.<br/>(Usually until the game starts).</h5></li>
						</ul>
						<h4>2. Scoring Rules</h4>
						<ol style="list-style-type:upper-alpha">
							<li><h5>If you have the good score, you will win 5 points</h5></li>
							<li><h5>If you have the good result (winning team / draw game), you will win 3 points.</h5></li>
							<li><h5>You will win one point if you have the good number of goals for one of the team. This is cumulative with the points you earned in Option B (if applicable)</h5></li>
							<li><h5>If you miss to bet on some games, this will give you 0 points.</h5></li>
							<li><h5>Some bonus questions may arrive during the World Cup second stage, to increase the challenge and decide the winners.</h5></li>
						</ol>
						<h4><i><b>Good luck!</b></i></h4>
						</div>
				</div>	
			</div>			
		</div>
	</div>
</template>